# backend webdev
fastapi==0.115.6
uvicorn[standard]==0.34.0

# ML models
tensorflow==2.18.0
transformers==4.50.0
keras_preprocessing==1.1.2

# Data science
pandas==2.2.3
numpy==2.0.2
matplotlib==3.10.3

# APIs
polygon-api-client==1.14.4
newsapi-python==0.2.7
yfinance==0.2.61
google-generativeai==0.8.5
